.add-task-form {
  display: flex;
  margin-top: 10px;
  gap: 8px;
}

.add-task-form input {
  flex: 1;
  padding: 18px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.add-task-form button {
  padding: 12px 24px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.add-task-form button:hover {
  background-color: #187bcd;
}
